.header {
    margin:     0;
    padding:    0;
	text-align: center;
}

.header .thumbnail {
	animation:	bg-thumbnail-spin infinite 30s linear;
	height: 	auto;
}

.header .palette {
	color: 				black;
	background-color:	white;
}

@keyframes bg-thumbnail-spin {
	from {
		tranform:	rotate(0deg);
	}
	to {
		tranform:	rotate(360deg);
	}
}
