body {
    margin:			0;
    padding: 		0;
}

wrapper {
	display: 				grid;
	grid-gap:				2vmin;
	grid-template-columns:	2fr 5fr;
	grid-template-rows: 	2fr;
}

content {
	/* border:					2px solid blue; */
}
