body {
	border: 		1px solid black;
    margin:			0;
    padding: 		0;
    font-family: 	"Montserrat", "Spectral SC", "Cutive Mono", "Rubik", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas,
	"Courier New", "Cutive Mono", monospace;
}
